put your name, etc here

# Lecture 1.2

Short lecture today, and mostly logistics. I will introduce the final projects and grading next week. (Sorry!) Short story for the grading is that you have to complete these first labs to pass the class, and I am grading them in a binary done/not-done scheme. So you need to complete them.

Lecture Agenda:

* debriefing on first class and homework, how's it going?
* logistics of github, downloading this Lab 1.2 notebook
* commenting and markup in notebooks
* workflow for the class

In general, we will do warmup exercises and lab exercises in a jupyter notebook. For most classes, you will download the notebook from github, open it on your local computer, and then upload your completed work back on github in  your folder. In general, all lab work for the week is due Sunday before midnight on blackboard.

In [ ]:
# here is an example of code commenting. The # symbol means everything on this line will be ignored

Here is an example of markdown text. Because this cell is in markdown mode it will also be ignored by the python shell

## Preliminaries

In our class github site, create a folder for yourself where you will submit your jupyter notebooks. The easiest way to do this is to create a new file that is a placeholder document in the new folder. You can delete it later.

## Warmup exercises

As you are doing these exercises, get familiar with jupyter notebook commands 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

and markdown text https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

These exercises are based on what you have learned previously. Feel free to go look at what you did in datacamp to figure out how to answer them.

**W.1** Define and assign values to three variables of the three types we learned about Monday: integer, floating point, string and boolian. 

Note you can add more cells below by pressing the + button above or typing [esc] to command mode, then [b] to enter a cell below, or [a] to enter a cell above. See the link above for more commands

In [1]:
x = 1
y = 1.2
z = True

**W.2** Print out the value and check the type of each variable

In [3]:
type(x)

int

In [4]:
type(y)

float

In [5]:
type(z)

bool

**W.3** Create a new variable that saves the value of the float variable as a string. Print it out

In [6]:
str(y)

'1.2'

In [8]:
type(str(y))

str

**W.4** Using multiplication of a variable, print out the text "Bueno Bueno Bueno Bueno Bueno" (Shoutout to Monsieur Perin√© https://youtu.be/JGL-eQAAxGs see 10:45)

In [13]:
B = "Bueno "
B*5

'Bueno Bueno Bueno Bueno Bueno '

**W.5** Do the same thing using addtion

In [14]:
B+B+B+B+B

'Bueno Bueno Bueno Bueno Bueno '

**W.6** If you add an int and a float, what is the resulting variable type? Demonstrate

In [16]:
#The resulting variable will be a float since a whole number and a decimal have been added together.

type(x+y)

float

**W.7** Can you convert a Boolian to an interger type variable? If so, what is the resulting value? What happens if you convert a float to an int?

In [19]:
int(True)

1

In [20]:
int(False)

0

In [ ]:
#Yes, you can convert a Boolian to an integer; you get the 1 for true and 0 for false.

In [22]:
int(y)

1

In [25]:
#The resulting value is rounded down from the decimal value when a float is converted to an integer.

6

# Lab 1.2

## Lab Exercises

**E.1** Complete Ch 2 of Introduction to Python in datacamp.

**E.2** Below you will spend time practicing what you have learned in Ch 2. Use a comination of code, code commenting, and markdown text to take notes. Make sure you investigate how python syntax works and understand what you are doing, and what went wrong if you have any issues. You can refer to this document later if you need to review, so give future you lots of commenting to be helpful.

**E.2.1** Let's work on lists, indexing and printing out elements of lists.

We are going to calculate the BMI of five family members (or friends/colleaues if you have a small family, or famous people/politicians/atheletes if you really don't like talking to people, they just have to be adults and you need their data). Make intellegently named lists for the first name, last name, height, weight and age of each person. So, five lists in total.

Just data here. Height in inches, weight in pounds.

Mark McMorris, 70, 159, 27
Shaun White, 69, 154, 34
Torstein Horgmo, 68, 154, 33
Chloe Kim, 63, 115, 20
Kelly Clark, 64, 134, 37

In [65]:
FirstName = ["Mark", "Shaun", "Torstein", "Chloe", "Kelly"]
LastName = ["McMorris", "White", "Horgmo", "Kim", "Clark"]
H = [70, 69, 68, 63, 64]
W = [159, 154, 154, 115, 134]
Age = [27, 34, 33, 20, 37]

**E.2.2** Now create a new list that calculates the BMI of each person using the lists you created before

In [68]:
BMIlist = [(W[0]*703/(H[0])**2), (W[1]*703/(H[1])**2), (W[2]*703/(H[2])**2), (W[3]*703/(H[3])**2), (W[4]*703/(H[4])**2)]
print(BMIlist)

[22.811632653061224, 22.73934047469019, 23.413062283737023, 20.369110607205844, 22.99853515625]

**E.2.3** Look up the weight classification of each person based on their BMI (what's a good source for this, who do you trust?). Create a new list with this information for each person. (Don't judge, after 9 mo of COVID we all ate too much comfort foods.)

In [109]:
#Used CDC to find weight classification (also to find equation in pounds in inches.)

WeightClass = ["normal", "normal", "normal", "normal", "normal"]

**E.2.3** Let's practice some print statements and iterate manually through the people on your lists.

For each person, print out something like: "First_name last_name, age xx, has a height of xx units and weight of xx units, giving them a body mass index (BMI) of xx, making them yy" where yy is if they are normal, obese, etc.

In [130]:
Words = ["is", "years old, and", "inches tall, and weighs", "pounds, giving them a BMI of", "which puts them in the normal weight range.", "which puts them in the overweight range."]

In [129]:
print((FirstName[0]), (LastName[0]), (Words[0]), (Age[0]), (Words[1]), (H[0]), (Words[2]), (W[0]), (Words[3]), (BMIlist[0]), (Words[4]), (FirstName[1]), (LastName[1]), (Words[0]), (Age[1]), (Words[1]), (H[1]), (Words[2]), (W[1]), (Words[3]), (BMIlist[1]), (Words[4]), (FirstName[2]), (LastName[2]), (Words[0]), (Age[2]), (Words[1]), (H[2]), (Words[2]), (W[2]), (Words[3]), (BMIlist[2]), (Words[4]), (FirstName[3]), (LastName[3]), (Words[0]), (Age[3]), (Words[1]), (H[3]), (Words[2]), (W[3]), (Words[3]), (BMIlist[3]), (Words[4]), (FirstName[4]), (LastName[4]), (Words[0]), (Age[4]), Words[1], (H[4]), (Words[2]), (W[4]), (Words[3]), (BMIlist[4]), (Words[4]))

Mark McMorris is 27 years old, and 70 inches tall, and weighs 159 pounds, giving them a BMI of 22.811632653061224 which puts them in the normal weight range. Shaun White is 34 years old, and 69 inches tall, and weighs 154 pounds, giving them a BMI of 22.73934047469019 which puts them in the normal weight range. Torstein Horgmo is 33 years old, and 68 inches tall, and weighs 154 pounds, giving them a BMI of 23.413062283737023 which puts them in the normal weight range. Chloe Kim is 20 years old, and 63 inches tall, and weighs 115 pounds, giving them a BMI of 20.369110607205844 which puts them in the normal weight range. Kelly Clark is 37 years old, and 64 inches tall, and weighs 134 pounds, giving them a BMI of 22.99853515625 which puts them in the normal weight range.

**E.2.4** Now add/append your information to each of the lists, and do the same print statement for you. Make a resolution to eat more veggies.

In [122]:
FirstName2 = FirstName + ["Kara"]
LastName2 = LastName + ["Eckley"]
H2 = H + [64]
W2 = W + [160]
Age2 = Age + [24]

In [125]:
BMI5 = (W2[5]*703/(H2[5])**2)

In [126]:
BMIlist2 = BMIlist + [BMI5]
WeightClass2 = WeightClass + ["Overweight"]

In [131]:
print((FirstName[0]), (LastName[0]), (Words[0]), (Age[0]), (Words[1]), (H[0]), (Words[2]), (W[0]), (Words[3]), (BMIlist[0]), (Words[4]), (FirstName[1]), (LastName[1]), (Words[0]), (Age[1]), (Words[1]), (H[1]), (Words[2]), (W[1]), (Words[3]), (BMIlist[1]), (Words[4]), (FirstName[2]), (LastName[2]), (Words[0]), (Age[2]), (Words[1]), (H[2]), (Words[2]), (W[2]), (Words[3]), (BMIlist[2]), (Words[4]), (FirstName[3]), (LastName[3]), (Words[0]), (Age[3]), (Words[1]), (H[3]), (Words[2]), (W[3]), (Words[3]), (BMIlist[3]), (Words[4]), (FirstName[4]), (LastName[4]), (Words[0]), (Age[4]), Words[1], (H[4]), (Words[2]), (W[4]), (Words[3]), (BMIlist[4]), (Words[4]), (FirstName2[5]), (LastName2[5]), (Words[0]), (Age2[5]), Words[1], (H2[5]), (Words[2]), (W2[5]), (Words[3]), (BMIlist2[5]), (Words[5]))

Mark McMorris is 27 years old, and 70 inches tall, and weighs 159 pounds, giving them a BMI of 22.811632653061224 which puts them in the normal weight range. Shaun White is 34 years old, and 69 inches tall, and weighs 154 pounds, giving them a BMI of 22.73934047469019 which puts them in the normal weight range. Torstein Horgmo is 33 years old, and 68 inches tall, and weighs 154 pounds, giving them a BMI of 23.413062283737023 which puts them in the normal weight range. Chloe Kim is 20 years old, and 63 inches tall, and weighs 115 pounds, giving them a BMI of 20.369110607205844 which puts them in the normal weight range. Kelly Clark is 37 years old, and 64 inches tall, and weighs 134 pounds, giving them a BMI of 22.99853515625 which puts them in the normal weight range. Kara Eckley is 24 years old, and 64 inches tall, and weighs 160 pounds, giving them a BMI of 27.4609375 which puts them in the overweight range.

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your completed Ch 2 score in datacamp, to the assignment tab in Blackboard.

# Scratch

In [5]:
# this is an area of the notebook you can mess around and test things out, if you don't want to put it above