In [2]:
name = "Regmi SANDIP"
print(name)

Regmi SANDIP

In [ ]:
#Define Integer, Floating Point, String and Boolian
Manchester = 21
Miami = 31.44
Texas = "Big"
Nepal = True

In [ ]:
type(Nepal)

In [ ]:
type(Texas)

In [ ]:
type(Miami)

In [ ]:
type(Manchester)

In [ ]:
flot = str(float)

In [ ]:
type(flot)

In [ ]:
Printf =  "Bueno" * 5

In [ ]:
print(Printf)

In [ ]:
PrintADD = "Bueno" + "Bueno" + "Bueno" + "Bueno" + "Bueno"

In [ ]:
print(PrintADD)

In [ ]:
add = Manchester + Miami

In [ ]:
type(add)